html, body, #body-container, #body-row{
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
}
nav {
    .lista-playlist{
        height: 100%;
    }
    li{
        margin-bottom: 0.5em;
    }
}
header{
    background-color: black;
}
@media screen and (max-width: 991px){
    header{
        display: block;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 100%);
    }
}
 